doctype html
html
  head
    title Socket.IO chat 
    |     
    style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form#s{ background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      .n { display:inline-block;}
      .m { display:inline-block; float: right;}
      .r { width: 100%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      }
  |   
  body
    h1(class='n')=u
    select#usuarios
      option(value='todos') Todos
      

    form(action='/logout',class='m', method='post')
      button(class='r') Salir
    
    | 
    ul#messages
    |     
    form#s(action='', onsubmit='mensaje(); return false;')
      input#m(autocomplete='off')
      button Send
    |     
    script(src='/socket.io/socket.io.js')
    |     
    script(src='./jquery.js')
    |      
    script.
      var socket = io();
      
      socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
      });
      socket.on('connect',function(){
      window.user={
      ide:socket.id,
      user:'#{u}',
      no:true
      
      }
      socket.emit('acceso', user);

      });
      socket.on('agrega',function(user){
      $('#usuarios').append($('<option>').text(user));
      });
      //$('form').submit(function(){
      function mensaje(){
      window.mens={
      msj:$('#m').val(),
      des:$('#usuarios').val(),
      ide:socket.id
      }
      socket.emit('chat message', mens);
      $('#m').val('');
      //alert("man");
      }
      // });
